.notify {
    background: linear-gradient(360deg, #4B4B4B 0%, #DCD9D7 95.16%); /* Gradient as background */
    padding: 2px; /* Simulate border thickness */
    width: 120px;
    height: 30px;
    border-radius: 10px; /* Rounded corners for the outer gradient */
    box-sizing: border-box; /* Ensure padding doesn't affect overall dimensions */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notify-inner {
    background: #5B5B5B; /* Solid inner background */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px; /* Inner radius slightly less than outer for spacing */
}

.notify-inner p{
    font-size: 16px;
    font-family: inter;
    font-weight: semibold;
    cursor: pointer;
}

label{
    font-size: 14px;
    font-family: inter;
}