.notify {
    background: linear-gradient(360deg, #FD6100 0%, #973A00 95.16%); /* Gradient as background */
    margin: 5px;
    padding: 2px; /* Simulate border thickness */
    width: 120px;
    height: 30px;
    border-radius: 10px; /* Rounded corners for the outer gradient */
    box-sizing: border-box; /* Ensure padding doesn't affect overall dimensions */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notify-inner {
    background: linear-gradient(89.96deg, #100505 0.03%, #762323 99.97%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px; /* Inner radius slightly less than outer for spacing */
}

.notify-inner p{
    font-size: 16px;
    font-family: inter;
    font-weight: semibold;
    cursor: pointer;
}

label{
    font-size: 14px;
    font-family: inter;
}


.modal {
    display: none; /* Hidden by default */
    position: absolute;
    z-index: 55; /* Sit on top */
    border-radius: 44px;
    left: 0;
    top: 45%;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: auto;
}

.modal-layer{
    background:linear-gradient(360deg, #FD6100 0%, #973A00 95.16%);
    padding: 2px;
    width: 600px !important;
    height: 230px;
    margin: 0 auto;
    border-radius: 44px;
}

.modal-content {
   background-color: black;
   width: 100%;
   height: 100%;
   border-radius: 44px;
    margin: 15% auto;
   
    margin: 0 auto;
    padding: 20px;
}

.m-h{
    font-family: inter;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    
}

.m-t{
    font-family: inter;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    text-align: center;
    
}

.m-close{
    border:1px solid #FD6100;
    padding: 5px 30px;
    border-radius: 5px;
    background-color: black;
    color: white;
    margin-top: 10px;
    cursor: pointer;
}